body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#toma {
  border: 2px solid #333;
  border-radius: 14px;
  background-color: #f0f0f0;
  padding: 24px;
  margin-right: 24px;
}

#tomaPic {
  width: 100px;
  height: 100px;
  background-image: url('android.png'); 
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}

#status {
  text-align: left;
}

#pBar {
  width: 100%;
  height: 45px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

#pBarLabel {
  position: absolute; 
  top: 0; 
  left: 50; 
  width: 100%; 
  text-align: center;
  padding: 5px;
  font-weight: bold;
}
#pBarFill {
  height: calc(100% - 20px);
  background-color: #4caf50;
  width: 100%;
  animation: decreaseWidth 10s linear forwards; 
}

#buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

button:hover {
  background-color: #45a049;
}
@keyframes decreaseWidth {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}