.prog-container {
  margin-bottom: 20px;
}
.prog-bar1 {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}
.prog-bar2 {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}
.prog-bar3 {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}
.bar-fill1 {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  animation: decreaseWidth 10s linear forwards; /* CSS animation to decrease width over 10 seconds */
}
.bar-fill2 {
  height: 100%;
  background-color: blue;
  border-radius: 5px;
  animation: decreaseWidth 3s linear forwards; /* CSS animation to decrease width over 10 seconds */
}
.bar-fill3 {
  height: 100%;
  background-color: purple;
  border-radius: 5px;
  animation: decreaseWidth 10s linear forwards; /* CSS animation to decrease width over 10 seconds */
}

@keyframes decreaseWidth {
  from {
    width: 100%; /* Start with full width */
  }
  to {
    width: 0%; /* End with 0 width */
  }
}